.searchContainer {
  width: clamp(270px, 40%, 433px);
  height: clamp(40px, 45px, 56px);
  padding: 16px;
  border-radius: 8px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;

  .searchIcon {
    color: #989898;
  }

  .searchInput {
    width: 100%;
    height: 100%;
    color: #656565;
    background: none;
    border: none;
    outline: none;
    border: none;
    font-size: 14px;
  }
}
