.navItem,
.activeItem {
  text-decoration: none;
  color: inherit;
  opacity: 30%;
}

.activeItem {
  opacity: 100%;
  font-weight: 500;
}

.desktopNavLinks {
  display: flex;
  flex-direction: row;
  gap: clamp(0.3rem, 4vw, 6rem);
}

.mobileNavLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
