// @use "../../styles//mixins" as m;

.rootLayout {
  font-family: var(--font-noto-kufi-arabic), sans-serif;
  .header {
    // @include m.container;
    background: #ffff;
  }

  main {
    background: #f8f9fa;
  }
}
