// @use "../../../styles/mixins" as m;

.wrapper {
  // @include m.container;
  height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: clamp(1rem, 6vw, 3rem);

  @media (min-width: 1475px) {
    margin-inline: auto;
  }

  .links {
    display: none;
    @media (min-width: 1281px) {
      display: block;
    }
  }

  .basket {
    display: none;

    @media (min-width: 520px) {
      display: block;
    }
  }
}
