.mobileNavIcon {
  @media (min-width: 1281px) {
    display: none;
  }
}

.menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  background: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  z-index: 20;

  transform: translateX(100%);
  // transition: transform 0.35s ease;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);

  .closeIcon {
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: pointer;
    background: #f3f3f3;
    padding: 3px;
    border: 1px solid #050505;
    border-radius: 2px;
  }
}

.openMenu {
  transform: translateX(0);
}

.closedMenu {
  transform: translateX(100%);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;

  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;

  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
}

.overlayOpen {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.overlayClosed {
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}
