// .bannerSwiper {
//   position: relative;
//   min-width: 100vw !important;
//   margin-inline: 0 !important;
//   height: 100vh;
// }

.swiper {
  position: relative;
  width: 100vw !important;
  height: 100vh;
  margin-inline: 0 !important;
  padding-inline: 0 !important;
  .swiperSlide {
    position: absolute;
    .textSlide {
      position: absolute;
      left: 5%;
      top: 50%;
      transform: translateY(-50%);
      color: white;
      z-index: 10;
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.2rem;
        max-width: 400px;
      }
    }
    .imageSlide {
      object-fit: cover;
    }
  }
}
