.bannerSwiper {
  // background: linear-gradient(135deg, #141414, #1f1f28, #121216);
  height: 90vh;
  width: 100%;

  .swiper {
    height: 100%;
    width: 100%;
    .swiperSlide {
      position: relative;
      width: 100%;
      height: 100%;
      .textSlide {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        color: white;
        z-index: 10;
        h1 {
          font-size: 3rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.2rem;
          max-width: 400px;
        }
      }
      .imageContainer {
        position: relative;
        inset: 0;
        width: 100%;
        height: 100%;
        .image {
          height: 100%;
          width: 100%;
          object-fit: cover;
          filter: drop-shadow(0 25px 35px rgba(0, 0, 0, 0.35));
        }
      }
    }
  }

  .pagination {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 19;
    display: flex;
    gap: 2rem;
    color: white;
    cursor: pointer;

    .paginationItem {
      padding-bottom: 1rem;
      border-bottom: 4px solid white;
    }

    .active {
      color: red;
    }
  }
}
