/* styles/_mixins.scss */
@use "variables" as v;

@mixin container {
  max-width: v.$container-max-width;
  margin-inline: auto;
  padding-inline: clamp(
    v.$container-padding-min,
    v.$container-padding-fluid,
    v.$container-padding-max
  );
}
